.table__scroll {
  overflow-x: auto;
  margin: 50px 0;
}

.table__scroll table {
  width: 100%;
  border: 1px solid var(--primary);
}

th,
td {
  text-align: center;
  padding: 10px;
}

td a {
  font-weight: bold;
}

th {
  background-color: var(--primary);
}

tr {
  background-color: var(--bgColor);
}

.delete__btn {
  padding: 5px 10px;
  background-color: #ff0e0e;
  color: var(--txtWhite);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.delete__btn:hover {
  transform: scale(1.1);
}
