.chart__area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.chart__area .chart {
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
}
