.table__scroll {
  overflow-x: auto;
  margin: 50px 0;
}

.table__scroll table {
  width: 100%;
  border: 1px solid var(--primary);
}

th,
td {
  text-align: center;
  padding: 10px;
}

th {
  background-color: var(--primary);
}

tr {
  background-color: var(--bgColor);
}
