.nav {
  width: calc(100% - 100px);
  height: 70px;
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  color: var(--txtWhite);
}

.nav #menu__btn {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav #menu__btn span {
  margin-right: 5px;
}

.nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 45px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  top: 54px;
  z-index: 999;
  display: none;
}

ul.show {
  display: block;
}

#line {
  width: calc(100% + 40px);
  height: 1px;
  background-color: var(--primary);
  margin-left: -40px;
}

.nav ul li {
  margin: 10px 30px;
  margin-left: 0;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s ease;
}

.nav ul li:hover {
  transform: scale(1.1);
}

.nav ul li,
.nav ul li a {
  color: var(--txtBlack);
}

@media screen and (max-width: 510px) {
  .nav h1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 410px) {
  .nav {
    width: calc(100% - 50px);
    padding: 0 25px;
  }
  .nav h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 330px) {
  .nav h1 {
    font-size: 16px;
  }
}
