.auth__box {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

#error {
  color: red;
  text-align: center;
  font-weight: bold;
}

.auth__box #box__right,
.auth__box #box__left {
  flex: 50%;
}

.auth__box #box__left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth__box #box__left .inner__box {
  width: 60%;
  padding: 5px;
}

.auth__box #box__left .inner__box h1 {
  font-weight: 500;
  margin: 0;
}

.auth__box #box__left .inner__box p {
  font-size: 16px;
  color: grey;
  margin: 5px 0;
}

.auth__box #box__left .inner__box h2 {
  font-size: 18px;
  font-weight: 500;
}

.auth__box #box__left .inner__box input {
  width: calc(100% - 20px);
  padding: 20px 10px;
  font-size: 16px;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}

.auth__box #box__left .inner__box h4 {
  font-size: 16px;
  font-weight: 500;
}

.auth__box #box__left .inner__box button {
  width: 100%;
  margin-top: 25px;
  padding: 20px;
  border-radius: 4px;
  color: var(--txtWhite);
  background-color: var(--primary);
  cursor: pointer;
  transition: all 0.5s ease;
}

.auth__box #box__left .inner__box button:hover {
  opacity: 0.9;
}

.auth__box #box__right {
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0),
      rgba(60, 134, 167, 0.95)
    ),
    url("../../Assets/bg/bg.jpg");
  position: relative;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  color: white;
  overflow: hidden;
}

@media screen and (max-width: 770px) {
  .auth__box {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 440px) {
  .auth__box #box__left .inner__box {
    width: 80%;
  }
}

@media screen and (max-width: 310px) {
  .auth__box #box__left .inner__box {
    width: 90%;
  }
}
