body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bgColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary: #6a5acd;
  --primary2: #e77453;
  --primary-light: #958adb;
  --txtWhite: #ffffff;
  --txtBlack: #000000;
  --bgColor: #fafafa;
}

input,
button {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: auto;
}

.section {
  margin: 50px 0;
}

.primary {
  color: var(--primary);
}

.center {
  text-align: center;
}

@media screen and (max-width: 800px) {
  .container {
    width: 90%;
    margin: auto;
  }
}
